*.o
*.a
*.la
*.lo
*.so
*.so.*
*.orig
*.patch
*.log
.deps
.libs
Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/libtool
/ltmain.sh
/config.guess
/config.status
/config.sub
/data/libmatchbox?.pc
/data/libmatchbox2-?.?.pc
/matchbox/mb-wm-config.h
